using './main.bicep'

param location = 'westeurope'
param targetSubscriptionId = '<subscription-id>'
param namePrefix = 'crm-analytics-demo'
param apiImage = '<acr-name>.azurecr.io/crm-analytics-api@sha256:<api-oci-index-digest>'
param teamsImage = '<acr-name>.azurecr.io/crm-analytics-teams@sha256:<teams-oci-index-digest>'
param acrLoginServer = '<acr-name>.azurecr.io'
param runtimeIdentityResourceId = '/subscriptions/<subscription-id>/resourceGroups/<resource-group>/providers/Microsoft.ManagedIdentity/userAssignedIdentities/<identity-name>'
param runtimeIdentityClientId = '<managed-identity-client-guid>'
param runtimeIdentityPrincipalId = '<managed-identity-principal-guid>'
param keyVaultIntegrationEnabled = true
param keyVaultName = '<key-vault-name>'
param keyVaultResourceGroupName = '<key-vault-resource-group>'
param logAnalyticsWorkspaceResourceId = ''
param logAnalyticsWorkspaceName = '<log-analytics-workspace-name>'
param logAnalyticsWorkspaceResourceGroupName = '<log-analytics-resource-group>'
param applicationInsightsResourceId = ''
param applicationInsightsName = '<application-insights-name>'
param applicationInsightsResourceGroupName = '<application-insights-resource-group>'
param applicationDbSecretName = 'crm-analytics-application-db'
param queryDwhConnectionSecretName = 'crm-analytics-query-dwh'
param queryOltpConnectionSecretName = 'crm-analytics-query-oltp'
param internalApiKeySecretName = 'crm-analytics-internal-api-key'
param teamsClientSecretName = 'crm-analytics-teams-client-secret'
param teamsClientSecretIntegrationEnabled = true
param queryDwhEnabled = true
param queryDwhServer = '<fabric-dwh-server-hostname>'
param queryDwhInitialCatalog = '<fabric-dwh-initial-catalog>'
param queryOltpEnabled = false
param azureAdTenantId = '<tenant-guid>'
param azureAdClientId = '<api-client-guid>'
param azureAdAudience = 'api://<api-client-guid>'
param teamsTenantId = '<tenant-guid>'
param teamsClientId = '<teams-client-guid>'
param teamsOAuthConnectionName = '<oauth-connection-name>'
param analyticsProvider = 'Direct'
param allowDirectAnalyticsInProtectedEnvironments = true
param serviceBusNamespace = '<namespace>.servicebus.windows.net'
param serviceBusQueueName = '<queue-name>'
param fabricWorkspaceId = '<fabric-workspace-guid>'
param fabricItemId = '<fabric-item-guid>'
param fabricJobType = '<approved-job-type>'
param powerBiWorkspaceId = '<power-bi-workspace-guid>'
param powerBiReportId = '<power-bi-report-guid>'
param powerBiSemanticModelId = ''
